<nav class="navbar navbar-expand-md  navbar-dark justify-content-end" style=" background: linear-gradient(57deg, #00C6A7 , #1E4D92 );">
  <h3 style="color:white;">Student Reward Progress Tracker</h3>  
  
  <button class="navbar-toggler" type="button"  (click)="toggleNavbar()"  data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-auto mr-1 flex-grow-0" id="navbarTogglerDemo01" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav text-right">
          <li class="nav-item active">
              <a class="nav-link mr-3" routerLink="/index" style="font-size:3vh;color:white;">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mr-3" href="#" style="font-size:3vh;color:white;">About US</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mr-3" href="#" style="font-size:3vh;color:white;">Conatct Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link mr-3" routerLink="/student-login" style="font-size:3vh;color:white;">Sign In</a>
          </li>
          
          <li class="nav-item active ">
            <a class="nav-link mr-3" routerLink="/student-signup" style="font-size:3vh;color:white;">Sign Up</a>
          </li>
          
      </ul>
  </div>
</nav>
