<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row mt-4">
                <div class="col d-flex justify-content-center">
                    <h2>Oops! Page not found.</h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col  d-flex justify-content-center">
                    <img src="assets\404.svg" alt="404" style="height: 50vh; width: 50vw;">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col d-flex justify-content-center">
                    <h4>We can't find the page you're looking for.</h4>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col  d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" style="border-radius:3vh; box-shadow: 1vh 2vh 1vh rgb(168, 166, 166);"><a routerLink="/index" style=" color:white; text-decoration: none;">GO BACK HOME</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
