<app-header></app-header>
<div class="container-fluid ">
    <div class="row p-0 justify-content-center mt-5">
        <div class=" col-md-5 mt-3 "  style=" box-shadow: 2vh 2vh 2vh rgb(119, 117, 117) !important;">
            <div class="row mt-3 p-0">
                <div class="col p-0 d-flex justify-content-center mt-4">
                    <img src="assets\lock.png" style="height: 15vh; width: 10vw;">
                </div>
            </div>
            <div class="row mt-4 p-0">
                <div class="col p-0 m-0 d-flex justify-content-center">
                    <h2 style="color: #0946b6;">Forgot Password?</h2>
                </div>
            </div>
            <div class="row mt-3 justify-content-center p-0">
                <div class="col-md-12  p-0 m-0 d-flex justify-content-center">
                    <h6>No warries! Enter your email we will send you a reset</h6>
                </div>
            </div>
            <div class="row mt-5 p-0 justify-content-center ">
                <div class="col-8  p-0 ">
                    <div class="row justify-content-center p-0 m-0 " style=" border-style:groove; border-radius:5vh !important">
                        <div class="col-1 d-flex justify-content-center  mt-2">
                            <h5><fa-icon [icon]="faEnvelope "></fa-icon></h5> 
                        </div>
                        <div class="col-10 m-0 p-0">
                            <input type="email" placeholder="email address" class="form-control bg-transparent" style="border: none; outline: none !important;" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 p-0 justify-content-center mb-5">
                <div class="col-5 m-0 p-0">
                    <button type="submit" class="btn btn-outline-light btn-block" style=" background-color:   #1e7192 ; border-radius:3vh; box-shadow: 1vh 1vh 1vh gray;"
                    >Send My Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
