<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-6 mt-3 p-0">
                    <img src="assets\bghome.jpg" alt="" style="height: 80vh;">
                </div>
                <div class="col-6 mt-5 ">
                    <div class="row ">
                        <div class="col  d-flex justify-content-center" style="font-size: 20vh;
                        font-family: brush script MT;color:black;">
                            Welcome
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr style=" background-color: black;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center" style="font-family:American Typewriter, serif;
                        font-size: 10vh;color: black;">
                            Student Progress Tracker
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr style=" background-color: black;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
